    * {
        background-color: bisque;
    }
    
    body {
        height: 40%;
        width: 40%;
        align-items: center;
        justify-content: center;
        background: aqua;
        display: block;
        border-radius: 10px;
    }
    
    .eventos {
        background-color: beige;
        align-items: center;
        border-radius: 10px;
        padding: 5%;
        margin: 5%;
        justify-content: flex;
        border-radius: 10px;
    }
    
    .listaEventos2 {
        padding: 8px 16px;
        outline: none;
        border: none;
        margin: 0px, 10px;
        background: hotpink;
        font-size: 10px;
        font-weight: 500;
        border-radius: 0.9rem;
        box-shadow: 3px 4px 3px 0px honeydew;
    }
    
    input {
        cursor: pointer;
        display: flex;
        border-radius: 10px;
    }
    
    button {
        cursor: pointer;
        border-radius: 10px;
    }